@if (screenLoading) {
  <div class="loader-overlay">
    <div class="spinner"></div>
  </div>
}

<span class="nombre-usuario">Hola, {{ nombreUsuario }}</span>

<div class="titulo-y-cerrarsesion">
    <mat-card-title>
        <span class="titulo">Eventos Disponibles </span>
        <button mat-raised-button color="primary" (click)="ModalCrearEvento()">
            <mat-icon>add</mat-icon> Crear Evento
        </button>
    </mat-card-title>

    <button mat-raised-button color="warn" (click)="CerrarSesion()">
        <mat-icon mat-list-icon>logout</mat-icon>Cerrar Sesión
    </button>
</div>

<mat-card>
    <mat-card-content class="dashboard-card-content">

        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="AplicarFiltroBusquedaTabla($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z3">
            <table mat-table [dataSource]="dataListaEventos" multiTemplateDataRows class="mat-elevation-z8">
                <!-- Recorre la lista de Headers y va poblando la cabecera de cada columna -->
                <!-- @for (column of columnasTabla; track column) {
                    <ng-container matColumnDef="{{column}}">
                        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                        <td mat-cell *matCellDef="let element">{{element[column]}}</td>
                    </ng-container>
                } -->

                <ng-container matColumnDef="nombreEvento">
                    <th mat-header-cell *matHeaderCellDef class="headers-style">Lista de EVENTOS</th>
                    <td mat-cell *matCellDef="let element" class="texto-cabecera-evento" [innerHTML]="ResaltarCoincidencia(element.nombreEvento, textoBusqueda)"></td>
                </ng-container>
                
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        @if (element.idUsuarioCreacion == idUsuario) {
                            <ng-container>
                                <button mat-icon-button 
                                        color="primary" 
                                        matTooltip="EDITAR" 
                                        #tooltip1="matTooltip"
                                        (mouseenter)="tooltip1.show()"
                                        (mouseleave)="tooltip1.hide()"
                                        (click)="ModalEditarEvento(element); $event.stopPropagation()">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <button mat-icon-button 
                                        color="warn" 
                                        matTooltip="ELIMINAR" 
                                        #tooltip2="matTooltip"
                                        (mouseenter)="tooltip2.show()"
                                        (mouseleave)="tooltip2.hide()"
                                        (click)="ModalEliminarEvento(element); $event.stopPropagation()" 
                                        [disabled]="element.cantidadAsistentes > 0">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-container>
                        }

                        @if (element.idUsuarioCreacion != idUsuario) {
                            <ng-container>
                                @if (element.cuposDisponibles > 0 && !element.esUsuarioInscrito && suscripcionesUsuarioActual < 3) {
                                    <button mat-icon-button 
                                            class="custom-color-inscripcion" 
                                            matTooltip="¡Inscribirse al evento!" 
                                            #tooltip1="matTooltip"
                                            (mouseenter)="tooltip1.show()"
                                            (mouseleave)="tooltip1.hide()"
                                            (click)="ModalInscripcionAEvento(element); 
                                            $event.stopPropagation()">
                                        <mat-icon>person_add_alt_1</mat-icon>
                                    </button>
                                }
                                @if (element.esUsuarioInscrito) {
                                    <button mat-icon-button 
                                            class="custom-color-dimision" 
                                            matTooltip="¡Retirarse del evento!" 
                                            #tooltip1="matTooltip"
                                            (mouseenter)="tooltip1.show()"
                                            (mouseleave)="tooltip1.hide()"
                                            (click)="ModalDimisionDeEvento(element); 
                                            $event.stopPropagation()">
                                        <mat-icon>person_add_disabled</mat-icon>
                                    </button>
                                }
                            </ng-container>
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            matIconButton
                            aria-label="expand row"
                            (click)="AlternarVisualizacionDetallesFila(element); $event.stopPropagation()"
                            class="toggle-button"
                            [class.toggle-button-expanded]="FilaExpandida(element)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnasTablaConExpansion.length">
                        <div class="element-detail-wrapper"
                            [class.element-detail-wrapper-expanded]="FilaExpandida(element)">
                            <div class="element-detail">
                                <div class="element-diagram">
                                    <div class="infoRegistro"><b>Fecha y Hora:</b> {{element.fechaHora}} </div>
                                    <div class="infoRegistro"><b>Dirección/Ubicación:</b> {{element.direccion_Ubicacion}} </div>
                                    <div class="infoRegistro"><b>Descripción:</b> {{element.descripcion}} </div>
                                    <div class="infoRegistro"><b>Cap. Max. Permitida:</b> {{ element.capMaxPermitida | number:'1.0-0' }} </div>
                                    <div class="infoRegistro"><b>No. Asistentes:</b> {{element.cantidadAsistentes}} </div>
                                    <div class="infoRegistro">
                                        <b>¿Estás inscrito?</b>
                                        <span [ngClass]="{ 
                                            'estado-activo': element.esUsuarioInscrito == true, 
                                            'estado-inactivo': element.esUsuarioInscrito == false 
                                        }">
                                        {{ element.esUsuarioInscrito ? 'Sí' : 'No' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasTablaConExpansion"></tr>
                <tr mat-row *matRowDef="let element; columns: columnasTablaConExpansion;"
                    class="element-row"
                    [class.expanded-row]="FilaExpandida(element)"
                    (click)="AlternarVisualizacionDetallesFila(element)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            
                <tr class="mat-row" *matNoDataRow="">
                    <td class="mat-cell" colspan="4">
                        <div class="no-data-padding">
                            <ng-container>
                                @if (input.value) {
                                    No existe ningún registro en la tabla con el filtro de búsqueda: <b>{{ input.value }}</b>
                                } @else {
                                    No existe ningún registro en la BD.
                                }
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </table>

            <mat-divider></mat-divider>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons=""></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>