.btn-loguearse {
  margin-top: 5px;
  padding: 12px 30px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.2s ease;
}

.btn-loguearse:hover {
  opacity: 0.8;
}

.google-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: block;
}

.google-custom-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.google-sdk-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  z-index: 10;
}

/* Forzar que el iframe o contenedor generado por google ocupe todo el espacio para ser clicable */
.google-sdk-overlay > div,
.google-sdk-overlay iframe {
  width: 100% !important;
  height: 100% !important;
  opacity: 0.01;
}