<form (ngSubmit)="ActualizarContrasena()" [formGroup]="formUpdatePassword">
    <h1>Actualiza tu contraseña</h1>

    <input 
        type="password" 
        placeholder="Nueva Contraseña" 
        formControlName="nuevaContrasena" 
        [class.campo-error]="formUpdatePassword.get('nuevaContrasena')?.invalid && formUpdatePassword.get('nuevaContrasena')?.touched" 
    />
    @if (formUpdatePassword.get('nuevaContrasena')?.invalid && formUpdatePassword.get('nuevaContrasena')?.touched) {
        <div class="error-message">
            *<b>Nueva Contraseña</b> es obligatorio
        </div>
    }

    <input 
        type="password" 
        placeholder="Confirmar Contraseña" 
        formControlName="confirmacionContrasena" 
        [class.campo-error]="formUpdatePassword.get('confirmacionContrasena')?.invalid && formUpdatePassword.get('confirmacionContrasena')?.touched" 
    />
    @if (formUpdatePassword.get('confirmacionContrasena')?.invalid && formUpdatePassword.get('confirmacionContrasena')?.touched) {
        <div class="error-message">
            *<b>Confirmar Contraseña</b> es obligatorio
        </div>
    }

    <button type="submit" class="btn-actualizacionContrasena">Actualizar Contraseña</button>
    <a (click)="onBackToSignIn()" class="hipervinculo">Regresar al LogIn</a>
</form>