::ng-deep .mdc-dialog__surface {
  border-radius: 20px !important;
}

.session-warning-dialog {
  padding: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.title {
  color: #3f51b5;
  font-weight: 600;
  font-size: 1.6rem !important;
  margin-bottom: 0.5rem;
}

.content p {
  margin: 0;
  font-size: 1.1rem;
  color: #424242;
}

.content strong {
  color: #d32f2f;
  font-weight: 700;
  font-size: 1.3rem;
}

mat-dialog-actions button {
  min-width: 140px;
  font-weight: 600;
  border-radius: 30px !important;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(0, 189, 0) !important;
  }
}

:host {
  ::ng-deep .mat-mdc-dialog-container {
    background: linear-gradient(170deg, #f5f5f5, #e3f2fd) !important;
    border-radius: 16px !important;
    box-shadow: 0 11px 35px rgba(0, 0, 0, 0.2) !important;
  }
}