<form (ngSubmit)="OlvidoSuContrasena()" [formGroup]="formForgotPassword">
  <h1>¿Olvidó su Contraseña?</h1>
  <p>Ingrese su dirección de correo electrónico y le enviaremos un correo <br>con el cual podrá restablecer su contraseña</p>
  
  <!-- Email -->
  <input 
      type="email" 
      placeholder="Email" 
      formControlName="email" 
      [class.campo-error]="formForgotPassword.get('email')?.invalid && formForgotPassword.get('email')?.touched" 
  />
  @if (formForgotPassword.get('email')?.invalid && formForgotPassword.get('email')?.touched) {
      <div class="error-message">
          *<b>Email</b> es obligatorio
      </div>
  }
  
  <button type="submit" class="btn-restablecer">Restablecer</button>
  <a (click)="onBackToSignIn()" class="hipervinculo">Regresar al LogIn</a>
</form>