::ng-deep .mat-mdc-dialog-surface {
  border-radius: 15px !important;
}

mat-dialog-actions {
    display: flex; 
    justify-content: center;
}

mat-form-field {
    width: 100%;
    margin: 10px 10px;
}
  
form {
    width: 500px;
}

.campos-formulario {
    display: flex;
    align-items: flex-start;
}