<h2 mat-dialog-title>{{tituloAccion}} Evento</h2>

<mat-dialog-content>
    <form [formGroup]="formEvento">
        <mat-grid-list cols="1" rowHeight="90px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre del evento</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="nombreEvento" [readonly]="camposSoloLectura">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="descripcion" [readonly]="camposSoloLectura">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha del evento</mat-label>
                    <input matInput autocomplete="off" formControlName="fechaEvento" [matDatepicker]="datepickerFechaEvento" [readonly]="true" [min]="fechaMinima">
                    <mat-datepicker-toggle matSuffix [for]="datepickerFechaEvento"></mat-datepicker-toggle>
                    <mat-datepicker #datepickerFechaEvento></mat-datepicker>
                </mat-form-field>                
                
                 <mat-form-field appearance="fill">
                    <mat-label>Hora del evento</mat-label>
                    <input matInput [value]="horaActual" type="time" formControlName="horaEvento">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Direccion/Ubicación</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="direccion_Ubicacion">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Capacidad máxima permitida</mat-label>
                    <input type="number" matInput autocomplete="off" formControlName="capMaxPermitida">
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </form>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn">Volver</button>
        <button mat-raised-button color="primary" [disabled]="formEvento.invalid || formEvento.get('capMaxPermitida')!.value <= 0"
            (click)="GuardarEditar_Evento()">{{botonAccion}}</button>
    </mat-dialog-actions>
</mat-dialog-content>