/* You can add global styles to this file, and also import other style files */

/* Estilos globales de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* INICIO Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* FIN Reset básico */


/* INICIO Screen Loader */
.disabled {
  pointer-events: none;
  opacity: 0.8;
}

.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(2px);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #ccc;
  border-top: 8px solid #0044ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
/* FIN Screen Loader */


/* INICIO DateTimePicker */
.mat-datepicker-content {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.mat-calendar-body-cell:hover:not(.mat-calendar-body-disabled) {
  background-color: #cdeaff !important;
  border-radius: 50% !important;
}

.mat-calendar-body-cell-content {
  border-radius: 50% !important;
  transition: all 0.2s ease-in-out;
}

.mat-calendar-body-selected {
  background-color: #2196f3 !important;
  color: white !important;
  border-radius: 50% !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border: 2px solid #2196f3 !important;
  border-radius: 50% !important;
}

.mat-calendar-body-label {
  color: #2196f3 !important;
}

.mat-datepicker-toggle .mat-mdc-button-persistent-ripple {
  display: none !important;
}
/* INICIO DateTimePicker */