/* You can add global styles to this file, and also import other style files */

/* Estilos globales de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* INICIO Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* FIN Reset básico */